@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Tektur', cursive;

}
.logo{
    margin-right: auto;
}
li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    
}
li a{
    text-decoration: none;
}









